<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      POIs to Date
    </caption>
    <thead>
      <th>Name</th>
      <th>County</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Category</th>
      <th>Adder</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each pois}}
        <tr>
          <td>{{name}}</td>
          <td>{{county}}</td>
          <td>{{lat}}</td>
          <td>{{long}}</td>
          <td>{{cat}}</td>
          <td> {{adder.firstName}} {{adder.lastName}} </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
